.overlay {
  background: url(images/background.png) left top no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Amatic SC', sans-serif;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 4px 4px #000;
}

.overlay h1 {
  margin-top: calc(15vh);
  margin-bottom: 10px;
  font-size: 50px;
}

.overlay .tagline {
  font-size: 90px;
  margin-bottom: 20px;
}

.author {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 60px;
}

.controls {
  -webkit-animation: pulsate ease-in 1s 0s infinite alternate;
  -moz-animation: pulsate ease-in 1s 0s infinite alternate;
  animation: pulsate ease-in 1s 0s infinite alternate;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@-moz-keyframes pulsate {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

#play {
  font-family: 'Amatic SC', sans-serif;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 25px;
  padding: 10px 70px;
  font-size: 90px;
  color: #fff;
  outline: none !important;
}

#play:hover {
  cursor: pointer;
  color: #3c6270;
}
