html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.6rem;
  background: #2A3F59;
  color: #0A1C31;
}

a {
  color: #5F738B;
}

a:hover {
  color: #B8C0CB;
}

main {
  margin: 2rem 0;
  text-align: center;
}

#game {
  border: 1px solid #333;
}

footer {
  text-align: center;
}
