{
  "meta": {
    "width": 19,
    "height": 12
  },
  "layers": [{"data": []}],
  "hero": {
    "x": 1,
    "y": 1
  },
  "goal": {
    "x": 3,
    "y": 1
  },
  "coins": [],
  "ghosts": [],
  "lava": []
}
